{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row my-3">
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Software Product Installation
            </h5>
            <table class="table table-hover attr-table">
{% if object.device %}
                <tr>
                    <th scope="row">Device</th>
                    <td>{{ object.device|linkify }}</td>
                </tr>
{% elif object.virtualmachine %}
                <tr>
                    <th scope="row">Virtualmachine</th>
                    <td>{{ object.virtualmachine|linkify }}</td>
                </tr>
{% else %}
                <tr>
                    <th scope="row">Cluster</th>
                    <td>{{ object.cluster|linkify }}</td>
                </tr>
{% endif %}
                <tr>
                    <th scope="row">Software Product</th>
                    <td>{{ object.software_product|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">Version</th>
                    <td>{{ object.version|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">Licenses</th>
                    <td>
{% for license in object.softwarelicense_set.all %}
                        <a href="{% url 'plugins:netbox_slm:softwarelicense' pk=license.pk %}" class="btn btn-sm">
                            {{ license }}
                        </a>
{% empty %}
                        None
{% endfor %}
                    </td>
                </tr>
            </table>
        </div>
{% include 'inc/panels/custom_fields.html' %}
{% include 'inc/panels/tags.html' %}
{% include 'inc/panels/comments.html' %}
{% plugin_left_page object %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
{% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
